<!DOCTYPE html>
<html>
<head>

	{include 'head.latte'}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>

	{snippet menu}
		{include 'menu.latte'}
	{/snippet}

	<div n:snippet="flashes" class="container">	
		<div n:foreach="$flashes as $flash" class="card-panel flash {$flash->type}">{$flash->message}</div>
	</div>

	{snippet content}
		{include content}
	{/snippet}

	{block scripts}
		{include 'js.latte'}
	{/block}
</body>
</html>
