<nav>
    <div class="nav-wrapper blue darken-2 white-text">
        <a n:href="Homepage:default" class="brand-logo">SRP</a>
        <ul style="margin-left:100px;" class="right">
            <li><a href="#">Odhlasit se (Admin)</a></li>
        </ul>
    </div>
</nav>
